In [1]:
import pyspark

In [19]:
import pandas as pd 
pandas_df = pd.read_csv('test.csv')
pandas_df

      Name  Age
0    Sunny   24
1     Ravi   29
2  Praveen   22
3     Ayan   19
4  Sarvesh   32
5     Gyan   26
6  Sreyash   27
7  Parvati   24
8  Parmesh   28

In [3]:
from pyspark.sql import SparkSession

In [25]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()
spark

24/02/06 08:55:37 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [26]:
## read the datasets

df_pyspark = spark.read.csv('test.csv')

In [27]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [28]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   Name|Age|
|  Sunny| 24|
|   Ravi| 29|
|Praveen| 22|
|   Ayan| 19|
|Sarvesh| 32|
|   Gyan| 26|
|Sreyash| 27|
|Parvati| 24|
|Parmesh| 28|
+-------+---+

In [29]:
df_pyspark = spark.read.option('header', 'True').csv('test.csv')

In [30]:
df_pyspark.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Sunny| 24|
|   Ravi| 29|
|Praveen| 22|
|   Ayan| 19|
|Sarvesh| 32|
|   Gyan| 26|
|Sreyash| 27|
|Parvati| 24|
|Parmesh| 28|
+-------+---+

In [31]:
type(pandas_df)

pandas.core.frame.DataFrame

In [32]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [33]:
df_pyspark.head(3)

[Row(Name='Sunny', Age='24'),
 Row(Name='Ravi', Age='29'),
 Row(Name='Praveen', Age='22')]

In [34]:
pandas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    9 non-null      object
 1   Age     9 non-null      int64
dtypes: int64(1), object(1)
memory usage: 272.0+ bytes

In [35]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)